.material {
	&__subtitle {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	
	&__text {
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 30px;
		a {
			color: crimson;
			text-decoration: underline;
		}
		
		span[title] {
			color: crimson;
			position: relative;
			cursor: pointer;
		}
		
		span[title]:hover::after {
			content: attr(title);
			position: absolute;
			background-color: rgba(0, 0, 0, 0.8);
			color: #fff;
			padding: 4px 8px;
			border-radius: 4px;
			white-space: nowrap;
			z-index: 1;
			bottom: calc(100% + 4px);
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	&__wrapper {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
	
	&__image {
		position: relative;
		border-radius: 20px;
		width: fit-content;
		height: 100%;
		max-width: 100%;
		display: block;
		margin: 0 auto;
		
		&-slider-container {
			position: relative;
			margin: 0 auto;
		}
	}
	&__prev-btn,
	&__next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 60px;
		color: #000000;
		transition: opacity 0.3s ease;
		z-index: 1;
		background: transparent;
		border: none;
		cursor: pointer;
	}
	
	&__prev-btn {
		left: 0;
		margin-left: -50px;
	}
	
	&__next-btn {
		right: 0;
		margin-right: -50px;
	}
	&__image-slider {
		width: 100%;
		max-width: 70vw;
		aspect-ratio: 1.69;
		position: relative;
	}
}


